/* Figma Styles of your File */
:root {
  /* Colors */
  --1: #3b0404;
  --2: #bb9096;
  --3: #779b7f;
  --4: #3d5e3e;
  --5: #de847b;
  --6: #0d2d1e;
  --7: #f3f3f2;
  --8: #b7c9b9;
  --9: #e7efda;

  /* Fonts */
  /* Effects */
}
/* Figma Color Variables of your File */
